.container {
  max-width: 62.5rem;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  gap: 2rem;
}
.whole {
  max-width: 500px;
  margin-top: 40px;
}
.chat_call_btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.form_control {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}
.form_control input {
  width: 100%;
  height: 42px;
  padding: 0 8px;
  border-radius: 5px;
  box-shadow: 0 0 1px black;
  border: 1px solid gray;
}
.form_control label {
  position: absolute;
  top: -13px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
}
.form_control textarea {
  margin-bottom: 1rem;
  box-shadow: 0 0 1px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 8px;
}
.submit {
  display: flex;
  justify-content: center;
}
